# Apriori Association Algorithm

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows",500)

In [2]:
data=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\Abhishek\groceries - groceries.csv")
data.head(1)

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
market=[]
for i in range(0,data.shape[0]):
    cus=[]
    for j in data.columns:
        if type(data[j][i])==str:
            cus.append(data[j][i])
            market.append(cus)

In [4]:
l=[]
for i in market:
    for j in i:
        l.append(j)

In [5]:
import collections

In [6]:
p=collections.Counter(l)

In [7]:
d={"Item Name":p.keys(),"values":p.values()}

In [8]:
#pd.DataFrame(d).sort_values(by=["values"],ascending=False)

In [9]:
from mlxtend.preprocessing.transactionencoder import TransactionEncoder

In [10]:
tr=TransactionEncoder()
tr.fit(market)
df=pd.DataFrame(tr.transform(market),columns=tr.columns_)

In [11]:
from mlxtend.frequent_patterns import apriori

In [12]:
apriori(df,min_support=0.09,use_colnames=True,max_len=3).sort_values(by=["support"])

     support                             itemsets
9   0.091175                  (frozen vegetables)
0   0.091959                               (beef)
32  0.093620         (tropical fruit, whole milk)
6   0.095672                               (curd)
12  0.096156                            (napkins)
17  0.096940                               (pork)
8   0.098785                        (frankfurter)
1   0.098808                       (bottled beer)
29  0.100191           (other vegetables, yogurt)
3   0.103950                        (brown bread)
11  0.104711                          (margarine)
27  0.105241  (other vegetables, root vegetables)
30  0.106556             (rolls/buns, whole milk)
31  0.106832        (whole milk, root vegetables)
4   0.107593                             (butter)
13  0.113796                         (newspapers)
7   0.119884                      (domestic eggs)
33  0.121521                 (yogurt, whole milk)
10  0.129384              (fruit/vegetable juice)
24  0.133189                 (whipped/sour cream)
16  0.134019                          (pip fruit)
15  0.137801                             (pastry)
5   0.143796                       (citrus fruit)
21  0.146402                      (shopping bags)
20  0.152766                            (sausage)
28  0.158277       (other vegetables, whole milk)
2   0.161528                      (bottled water)
23  0.186109                     (tropical fruit)
19  0.198008                    (root vegetables)
22  0.232804                               (soda)
26  0.237808                             (yogurt)
18  0.250306                         (rolls/buns)
14  0.326700                   (other vegetables)
25  0.391865                         (whole milk)